# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Module 2\Bai1 TH - Tim kiem nhi phan KO de quy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
