# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Module 2\bai3 BT - Tim kiem Dung De quy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
